*{
    margin: 0;
    padding: 0;
    
    
}
.container{
    min-height:100vh;
    overflow: hidden;
    display: flex;
}
.img1{
    background-image: url("ii/fog.jpg");
    
}
.img2{
    background-image: url("ii/fox.jpg");
}
.img3{
    background-image: url("ii/ice.jpg");
}
.img4{
    background-image: url("ii/montagne.jpg");
}
.img5{
    background-image: url("ii/valley.jpg");    
}
.contenue{
    background-size: cover;  
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s 0s ease-in-out;
}
.contenue p{
    color: white;
}
.contenue p:nth-child(1){
   
    transform: translateY(-20rem);
    transition: all 0.4s 0s ease-in-out;
}
.contenue p:nth-child(3){
    
    transform: translateY(20rem);
    transition: all 0.4s 0s ease-in-out;
}
.mouvement{
    flex: 1 0 50%;
    transition: all 0.4s 0s ease-in-out;
}


.contenue.texthabt p:nth-child(3){
  transform:translateY(8rem);
  transition: all 0.4s 0.5s ease-in-out;
  font-size: 60px;
 
}
.contenue.texthabt p:nth-child(1){
    transform:translateY(-8rem);
    transition: all 0.4s 0.5s ease-in-out;
    font-size: 60px;
    
}
.contenue.texthabt p:nth-child(2){
    font-size: 60px;  
}